<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833771726536-bld9o33o0vg78j63j7brgo8r23u10h0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833771726536-bld9o33o0vg78j63j7brgo8r23u10h0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDqp8uMplUfsi9dAvNNJfQ5RoksY0cvI0E</string>
	<key>GCM_SENDER_ID</key>
	<string>833771726536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.depromeet.um</string>
	<key>PROJECT_ID</key>
	<string>um-store</string>
	<key>STORAGE_BUCKET</key>
	<string>um-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833771726536:ios:461f7aed34c02ce39627fd</string>
	<key>DATABASE_URL</key>
	<string>https://um-store.firebaseio.com</string>
</dict>
</plist>